body {
	display: flex;
	flex-direction: row;

}
#map {
	height: 90vh;
	flex-grow: 7;
    border: 1px solid #eeeeee;
    margin: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.48);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.48);
	-moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.48);
}
#output {
	flex-grow: 1;
    border: 1px solid #eeeeee;
    margin: 10px 10px 10px 0px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.48);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.48);
	-moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.48);
}
#export-button {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 10px;
	z-index: 9999;
	pointer-events: auto;
}
.leaderline {
    filter:  drop-shadow(1px 1px 0 #a0a0a0);
}